body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.screen {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1, h2 {
    color: #333;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:disabled {
    background-color: #ccc;
}

.error {
    color: red;
    font-size: 14px;
}

.info-message {
    color: green;
    font-size: 14px;
    margin-bottom: 20px;
}

#levels button {
    margin: 5px;
}

.locked {
    background-color: #ccc;
    cursor: not-allowed;
}

#question-info {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    text-align: right;
}

#question-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.question-text {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    background-color: #e0f7fa;
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px solid #00acc1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.answers-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.answers-container button {
    display: block;
    margin: 10px;
    padding: 20px;
    width: 45%;  
    font-size: 16px;
}

#score-timer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #333;
}

.exit-button {
    width: 50%;
    padding: 8px;
    margin: 15px auto 0 auto;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.retry-button {
    width: 50%;
    padding: 8px;
    margin: 15px auto 0 auto;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#level-completed-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.next-level-button,
.retry-level-button {
    margin-top: 20px;
    width: 80%;
}
